.about-me {
    font-family: "Roboto",Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
    color: #f54444;
  }
  
  .highlight {
    color: #eb0b0b;
    font-weight: bold;
  }
  
  section {
    margin-bottom: 20px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    color: black;
  }
  
  h1, h2 {
    color: #eb0b0b;
  
  }
  
  a {
    color: #0073e6;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  